@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

:root {
	--primary-color: #fe9898;
	--secondary-color: #ff8474;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

div.container {
	max-width: 800px;
	margin: 0 auto;
}

.content-body {
	font-family: "Poppins", sans-serif;
}

/* Navbar */
nav.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0px;
	font-family: "Noto Sans", sans-serif;
	cursor: pointer;
}

.nav-menu a {
	text-decoration: none;
	margin-right: 1.7rem;
	color: #000000;
}

.btn {
	color: #ffffff !important;
	background-color: var(--secondary-color);
	border-radius: 5px;
	padding: 5px 8px;
}

/* End Navbar */

/* Home Page */
.home,
.blog-detail,
.add-content {
	margin-top: 5rem;
}

.home h3,
.add-content h3 {
	font-weight: 400;
	margin-bottom: 1rem;
}

.blog-list {
	max-width: 500px;
	padding: 10px 10px;
	cursor: pointer;
}

.blog-list a {
	text-decoration: none;
	color: black;
}

.blog-list h4,
.blog-detail h2 {
	color: var(--secondary-color);
	font-size: 1.5rem;
}

.blog-list p,
.blog-detail h4 {
	opacity: 0.7;
}

.blog-list:hover {
	box-shadow: 2px 3px 5px 0px rgba(255, 162, 162, 0.75);
	-webkit-box-shadow: 2px 3px 5px 0px rgba(255, 162, 162, 0.75);
	-moz-box-shadow: 2px 3px 5px 0px rgba(255, 162, 162, 0.75);
}

/* End Home Page */

/* Blog Detail Page */
.blog-detail {
	margin-bottom: 5rem;
}

.blog-detail p {
	margin: 1rem 0 2rem;
}

/*End Blog Detail Page */

/* Add Page */
.add-content form {
	display: flex;
	flex-direction: column;
	max-width: 450px;
}

.add-content form input,
.add-content form textarea {
	background-color: var(--primary-color);
	margin-top: 5px;
	border: none;
	border-radius: 3px;
	padding: 10px 8px;
}

input::placeholder,
textarea::placeholder {
	color: #ffffff;
	letter-spacing: 1px;
}

.btn-add,
.btn-delete {
	width: 150px;
	padding: 8px 5px;
	border: none;
	margin-top: 0.7rem;
	cursor: pointer;
}

.btn-add:hover,
.btn-delete:hover {
	opacity: 0.9;
}
/* End Add Page */
